@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Dancing+Script&family=Neonderthaw&family=Roboto+Mono:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@keyframes blink {
    
    0%{
        background-color:  rgba(125, 218, 171, 0.959);
        
    }
    25%{
        background-color: rgba(231, 227, 204, 0.733);
    }
    50%{
        background-color: rgb(159, 121, 196);
    }
    75%{
        background-color: rgb(143, 213, 214);
    }
    100%{
        background-color:  rgba(155, 119, 238, 0.767);       
    }
    
}

body{
    animation: blink 5s infinite  ease-out;
   
}


.navbar{
    background-image: linear-gradient(to left,rgb(238, 245, 247),#94b6e96e);
}

.about{
    height: 90vh;
}
.about h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
}
.about p{
    font-family:monospace; 
    font-size:1em;
}
.logo img{
    border-radius: 100%;
    border: 1px solid black;
    padding: unset;
}
.social-icons{
    font-size: 2em;
    
}

.text h1{
    font-family: 'Dancing Script', cursive;
    margin-bottom: 1em;
    color: rgba(6, 32, 36, 0.733);
}
.text h3{  
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 1em; 
    color: rgb(19, 43, 78);
}
.aboutme{

font-family: Arial, Helvetica, sans-serif;
}
.Contact p{
font-weight: bold;
color: rgb(1, 15, 15);
}
.Contact:hover{
    
    transition: 1s ease;
}
.footer{
    background-image: linear-gradient(to right,rgb(41, 40, 43),rgb(1, 13, 15));
}
.footer h5{
    color: rgb(235, 215, 215);
    font-family:monospace;
}
.footer span{
    color: rgb(250, 244, 244);
    margin-top: 1em;
}
.container h5{
    color: rgb(244, 254, 255);
}
.linkedin a{
color: black;}
.linkedin a:hover{
    text-decoration: none;
    color: darkslategray;
}
.call{
    background-image: linear-gradient(to left,rgb(204, 224, 222),rgb(63, 146, 100));
}
.education{
    background-image: linear-gradient(to left,rgb(228, 211, 211),rgb(72, 106, 112));

}
.query{
    background-image: linear-gradient(to bottom,rgb(186, 218, 218),rgb(22, 124, 107));
}
